{% extends 'base.html' %}
{% load static %}

{% block title %}Tecnologias{% endblock %}

{% block content %}
<!-- Tecnologías-->
<div class="container">
  <h2 class="mt-4 mb-3 text-white">Tecnologías que sé usar</h2>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">JavaScript</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">jQuery</li>
        <li class="list-group-item">React</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Node.js</li>
        <li class="list-group-item">Express.js</li>
        <li class="list-group-item">MongoDB</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
