{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md- d-flex justify-content-center order-md-1 order-1 mb-4 mb-md-0">
            <img src="{% static 'img/perfil.jpeg' %}" alt="Perfil" class="img-fluid rounded-end m-3 p-2 profile-img" style="width: 50%;">
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center text-md-start text-center order-md-2 order-2">
        <h1 class="display-1 text-primary">Hello, World!</h1>
        <h2 class="display-4 text-secondary">Mi nombre es:</h2>
        <h3 class="display-6 text-dark">Nicolás Jofré Andrade</h3>
        <div class="d-flex justify-content-center mt-4 icon-container">
            <a href="https://www.linkedin.com/" target="_blank" class="me-3">
                <i class="fab fa-linkedin text-primary fs-3"></i>
            </a>
            <a href="https://github.com/your-github-username" target="_blank" class="me-3">
                <i class="fab fa-github text-dark fs-3"></i>
            </a>
            <a href="mailto:your-email@example.com">
                <i class="fas fa-envelope text-secondary fs-3"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
